* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window {
  width: 60%;
  background-color: #222226;
  border: 1px solid #5e5c64;
  border-radius: 8px;
}

#input {
  margin: 8px;
  padding: 5px 8px;
  color: #ffffff;
  background-color: #1d1d20;
  border: 1px solid #5e5c64;
  border-radius: 6px;
  font-size: 20px;
}

#inner-box {
  margin: 4px;
}

#outer-box {
  margin: 4px;
}

#scroll {
  margin: 0;
}

#entry {
  padding: 2px 6px;
  color: #deddda;
  font-size: 18px;
}

#entry:selected {
  color: #ffffff;
  background-color: #3584e4;
  border-radius: 6px;
}

#text {
  margin: 0 4px;
  font-size: 18px;
}

#img {
  margin-right: 8px;
}
