/* Adwaita-dark */

* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 17px;
}

.notification-row {
  outline: none;
}

.notification {
  background: #2e2e32;
  border: 1px solid #5e5c64;
  border-radius: 8px;
  margin: 4px 8px;
  padding: 0;
}

.notification-content {
  padding: 12px;
}

.summary {
  color: #ffffff;
  font-weight: bold;
}

.body {
  color: #deddda;
}

.time {
  color: #9a9996;
  font-size: 17px;
}

.close-button {
  background: transparent;
  color: #9a9996;
  border-radius: 50%;
  padding: 4px;
}

.close-button:hover {
  background: #36363a;
  color: #81d0ff;
}

/* Notification icons */

.image {
  margin-right: 10px;
}

/* Critical notifications */

.notification.critical {
  border-color: #c01c28;
}

.notification.critical .summary {
  color: #ff938c;
}
